*{
    list-style: none;
    text-decoration: none;
    margin: 0; 
    padding: 0;
    color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width:525px) {
    img[class="hide"]{
        display: none !important;
    }
    
}
body{
    background-color: #161d1e;
}
header{
    background-color: #040707;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}
.menue{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 3em;
}
.menue li{
    list-style-type: none;
    color: white;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
}
.menue a{
    text-decoration: none;
    color: white;
}
.menue form input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.menue .sub-menu{
    position: absolute;
    display: none;
    top: auto;
    left: auto;
    padding: 25px;
}
.menue li:hover .sub-menu{
    display: block;
    background-color: #0d1617;
}
.sub-menu li{
    font-size: 15px;
}
.menue li:hover{
    color: #0a0d0d;
}
.menue a:hover{
    color: #3e424f;
}
.logo img{
    width: 60%;
    height: 4em;
}
.host{
    margin-top: 5em;
    padding: auto;
    color: rgb(62, 74, 86);
    width: 200%;
    height: 370px;
  }
.inf{
    width: 200%;
    border-radius: 0px;
    height: 200px;
  }
.danhgia input{
    width: 60%;
    height: 35px;
    margin-top: 1em;
    border-radius: .6em;
    color:#000;
}

.danhgia textarea{
    color:#000;
}
.end{
    display: flex;
    background-color: rgb(97, 63, 18);
}
footer{
    text-align: center;
}
.search{
    padding: 2em;
    width: 20%;    
}
.menu{
    width: 100%;
    padding: 70px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}
textarea{
    border-radius: .6em;
}
.menu .menu_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    background-color: rgb(138, 155, 170);
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(57, 37, 37, 0.2);
}

.menu .menu_box .menu_card .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_box .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}


