*{
    list-style: none;
    text-decoration: none;
    margin: 0; 
    padding: 0;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width:525px) {
    img[class="hide"]{
        display: none !important;
    }
    
}
body{
    background-color: #232d2f;
}
header{
    background-color: #192021;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}
.menu{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 3em;
}
.menu li{
    list-style-type: none;
    color: white;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
}
.menu a{
    text-decoration: none;
    color: white;
}
.menu form input{
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.menu .sub-menu{
    position: absolute;
    display: none;
    top: auto;
    left: auto;
    padding: 25px;
}
.menu li:hover .sub-menu{
    display: block;
    background-color: #1f2c2e;
}
.sub-menu li{
    font-size: 15px;
}
.menu li:hover{
    color: #1d2425;
}
.menu a:hover{
    color: #525563;
}
.logo img{
    width: 60%;
    height: 4em;
}
.host{
    margin-top: 5em;
    padding: auto;
    color: rgb(62, 74, 86);
    width: 200%;
    height: 370px;
  }
.inf{
    width: 200%;
    border-radius: 0px;
    height: 200px;
  }
.danhgia input{
    width: 60%;
    height: 35px;
    margin-top: 1em;
    border-radius: .6em;
}
.end{
    display: flex;
    background-color: rgb(75, 51, 21);
}
footer{
    text-align: center;
}
button{
    color: #192021;
}
.search{
    padding: 2em;
    width: 20%;    
}
textarea{
    border-radius: .6em;
}
.toc {
    border: .3em solid black;
    
}
.cod{
    width: 25%;
    padding: 2em;
    justify-content: center;
}
#toggle {
    display: none;
}

#toggle:checked ~ #toc ul {
    display: block;
    background-color:rgb(19, 23, 27);
}

#toggle:checked ~ #toc h2 ::after  {
    content: "[hide]";
}

#toggle:not(:checked) ~ #toc h2 ::after {
    content: "[show]";
}
ul {
    display: none;
}
.noidung img{
    height: 550px;
    width: 60%;
    padding-left: 20em;
}

.noidung h1{
    margin: 1em;
   
}
.noidung p{
    padding: 1em;
}
.tieude{
    text-align: center;
    margin-top: 1em;
    padding: 1em;
}